<!DOCTYPE html>
<html>
    <head>
        <title>All Questions</title>
    </head>
    <body>
        <h1>{{Subject}}</h1>
        <form method="post" action="{% url 'check_answers' %}">
            {% csrf_token %}
            {% for question in questions %}
                <div class="question">
                    <p>{{ question.question_text }}</p>
                    <label><input type="radio" name="q{{ question.id }}" value="A"> {{ question.option1 }}</label><br>
                    <label><input type="radio" name="q{{ question.id }}" value="B"> {{ question.option2 }}</label><br>
                    <label><input type="radio" name="q{{ question.id }}" value="C"> {{ question.option3 }}</label><br>
                    <label><input type="radio" name="q{{ question.id }}" value="D"> {{ question.option4 }}</label><br>
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
    </body>
</html>